<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <div class="top-message">
        <h2>メモ×つぶやき</h2>
        <p>自由にメモしよう。</p>
    </div>
    <div class="row mt-60">
      <div class="col-md-offset-3 col-md-3">
        <%= link_to '新規登録', new_user_path, class: 'btn btn-block btn-black' %>
      </div>
      <div class="col-md-3">
        <%= link_to 'ログイン', '#',class: 'btn btn-block btn-black' %>
      </div>
    </div>
  </div>
</div>
