<div class="memo-index-wrapper">
  <div class="container">

    <% current_user.memos.each do |memo| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="memo-index-single">
            <p1 class="memo-text">
              <%= link_to memo.main,memo %>
            </p1>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
