<div class="memo-show-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="memo-show-title">メモ詳細</h1>
        <div class="memo-show-single">
          <p1 class="memo-show-text">
            <%= @memo.main %>
          </p1>
        </div>
      </div>
    </div>

  </div>
</div>
